section {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #dff0ff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__img {
  width: 20%;
  transition: all 1s ease;
}

.section__img:hover {
  transform: scale(0.666) rotate(-360deg);
}